.movies_section {
	background-color: var(--main-color);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	overflow-x: hidden;

	.movies_searcher {
		width: max-content;
		position: absolute;
		margin-top: 100px;
		margin-left: 550px;
		border-radius: 100px;
		color: darkred;
		border: 3px solid darkred;
		font-weight: 700;
	}

	.without_image {
		height: 300px;
		width: 200px;
		border-radius: 30px;
		background: white;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--main-color);
		text-decoration-line: underline;
		text-decoration-color: white;
	}
	.pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		left: 500px;
	}
	.movie_page_numeration {
		position: absolute;
		color: white;
		top: 180px;
		left: 600px;
		font-size: 30px;
		margin-bottom: 10px;
	}
	.movies_container {
		margin-top: 250px;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		h1 {
			width: max-content;
			font-size: 13px;
			color: white;
		}
		img {
			border-radius: 30px;
			width: 200px;
			position: relative;

			margin-right: 10px;
		}
	}
}
