@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

form#registrer {
	width: 100%;
	height: 100vh;
	background: url('https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.png');
	background-size: cover;
	position: relative;
	overflow-y: scroll;
}

.container {
	width: 500px !important;
	padding: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: 0px;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	border: 1px solid whitesmoke;
	background: url('https://wallpaperaccess.com/full/752715.jpg');
}

b {
	color: aliceblue;
}

.sign {
	display: flex;
	align-items: center;
	justify-content: center;
	color: whitesmoke;
	margin-bottom: -15px;
}

.invalidInput {
	border: 1px solid #fe3b1f;
}

.showen {
    background: none;
    position: relative;
    width: 10px;
    left: 435px;
    color: black;
    top: -55px;
    display: flex;
    margin-bottom: -35px;
	border: 1px solid white; 
	display: flex;
	justify-content: center;
}

input{
	width: 450px;
	height: 15px;
	padding: 15px;
	margin-bottom: 18px;
	display: inline-block;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-style: italic;
}
select {
	width: 18%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	background: #f7f7f7;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}

input[type='tel'] {
	width: 450px;
	height: 15px;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='tel']:focus,
input[type='email']:focus,
input[type='confrimPassword']:focus,
select:focus {
	background-color: #ddd;
	outline: none;
}

.sign_up {
	background-color: darkred;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 480px;
	opacity: 0.9;
	font-size: 16px;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	border-radius: 10px;
}

.sign_up:hover {
	opacity: 1;
}

.errors {
	color: red;
	margin-bottom: -5px;
	position: relative;
	top: -10px;
}

.submited {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-style: italic;
	cursor: pointer;
	text-decoration: none;
}

@media (max-width: 800px) {
	form#registrer {
		width: 100%;
		height: 100vh;
	}
	.container {
		max-width: 350px;
	}
	input[type='text'],
	input[type='email'],
	input[type='password'],
	input[type='tel'],
	input[type='confrimPassword'] {
		width: 300px;
	}
	button {
		width: 330px;
	}
	.showen {
		position: relative;
		left: 280px;
	}
}
