.container_2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    font-size: 100px;
    font-family: initial;

}

.container_2:hover{
    transform: scale(1.5);
}