@use "../../sass/mixin" as *;

.favourites_container {
  color: white;
  background: var(--main-color);

  .favourites_list {
    position: relative;
    top: 100px;
    @include flex(center, center);
    flex-direction: column;
    margin-bottom: 50px;
    background: var(--main-color);
    button {
      position: absolute;
      border: none;
      background: none;
      top: 10px;
      left: 30%;
    }
    .favourties_image {
      width: 50%;
      border-radius: 30px;
      flex-direction: row-reverse;
      @include flex(center, center);
      background: var(--main-color);
    }
    .favourites_title {
      font-size: 15px;
      margin-top: 10px;
    }
  }
}

.favourites {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: var(--main-color);
  height: 100vh;
}
