:root {
	--main-color: #0b0b0b;
}

body {
	font-family: Montserrat, sans-serif;
}

@media (max-width: 1000px) {
	.navbar {
		left: -10px;
		padding: 1.5rem 0;
		position: fixed;
		top: -10px;
		width: 100%;
		z-index: 100;
		margin: 10px;
	}
	.featured {
		left: 0px;
		padding: 5rem 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
		margin: 10px;
	}
	.listTitle {
		top: 100px;
	}
	.listItem img {
		top: 100px;
	}
	.wrapper {
		top: 100px;
	}
}
